---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PL1Y67f0xPzdMFq2S1bK7E7veT_BbK-zjt&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#playlistListResponse",
          "etag": "eplvhRAXHf-jdXJIuFCV23pbIo0",
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#playlist",
              "etag": "NSKBDtovmWinJsRi15CdX0tSMHU",
              "id": "PL1Y67f0xPzdMFq2S1bK7E7veT_BbK-zjt",
              "snippet": {
                "publishedAt": "2020-05-04T17:25:44Z",
                "channelId": "UC2zYYOtckevoWTGDu5SdCkg",
                "title": "Mod 0 Review",
                "description": "",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/I3PBZBX-Fig/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/I3PBZBX-Fig/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/I3PBZBX-Fig/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  },
                  "standard": {
                    "url": "https://i.ytimg.com/vi/I3PBZBX-Fig/sddefault.jpg",
                    "width": 640,
                    "height": 480
                  },
                  "maxres": {
                    "url": "https://i.ytimg.com/vi/I3PBZBX-Fig/maxresdefault.jpg",
                    "width": 1280,
                    "height": 720
                  }
                },
                "channelTitle": "Turing School of Software and Design",
                "localized": {
                  "title": "Mod 0 Review",
                  "description": ""
                }
              },
              "contentDetails": {
                "itemCount": 10
              }
            }
          ]
        }
  recorded_at: Tue, 07 Jul 2020 13:38:23 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=<YOUTUBE_API_KEY>&maxResults=10&part=snippet,contentDetails&playlistId=PL1Y67f0xPzdMFq2S1bK7E7veT_BbK-zjt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#playlistItemList[...]
