<h1> Hello <%= @user.first_name %>! </h1>
<%=binding.pry %>
<p>
  You are almost finished setting up your new account!
  Visit <%= link_to 'here', @url %> to activate your account.
</p>

<p>Thanks for joining and have a great day!</p>
