---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PL1Y67f0xPzdOq2FcpWnawJeyJ3ELUdBkJ&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#playlistListResponse",
          "etag": "IRWG2T3JFO3mVwwwv4Vv2wYSbTc",
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#playlist",
              "etag": "I2Refs8-jIY-_0d0ejJr2x9pbhg",
              "id": "PL1Y67f0xPzdOq2FcpWnawJeyJ3ELUdBkJ",
              "snippet": {
                "publishedAt": "2018-06-24T21:46:39Z",
                "channelId": "UC2zYYOtckevoWTGDu5SdCkg",
                "title": "Back End Engineering - Module 3",
                "description": "",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/cv1VQ_9OqvE/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/cv1VQ_9OqvE/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/cv1VQ_9OqvE/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  },
                  "standard": {
                    "url": "https://i.ytimg.com/vi/cv1VQ_9OqvE/sddefault.jpg",
                    "width": 640,
                    "height": 480
                  },
                  "maxres": {
                    "url": "https://i.ytimg.com/vi/cv1VQ_9OqvE/maxresdefault.jpg",
                    "width": 1280,
                    "height": 720
                  }
                },
                "channelTitle": "Turing School of Software and Design",
                "localized": {
                  "title": "Back End Engineering - Module 3",
                  "description": ""
                }
              },
              "contentDetails": {
                "itemCount": 10
              }
            }
          ]
        }
  recorded_at: Tue, 07 Jul 2020 23:06:25 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=<YOUTUBE_API_KEY>&maxResults=10&part=snippet,contentDetails&playlistId=PL1Y67f0xPzdOq2FcpWnawJeyJ3ELUdBkJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#playlistItemList[...]
