---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=12345abcde&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#playlistListResponse",
          "etag": "k7C9z_jcF5xa02AMD6Ny6hy8tDs",
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 5
          },
          "items": []
        }
  recorded_at: Tue, 07 Jul 2020 21:57:38 GMT
recorded_with: VCR 6.0.0
