---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PLw3DVCAvDGUtrWrm0s2zxnbrgzkG5YAfF&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#playlistListResponse",
          "etag": "7fBFBaTyI8nfVslyYlQ8o7YaFok",
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#playlist",
              "etag": "wBITttXpombAS7PghOZn7FjZCys",
              "id": "PLw3DVCAvDGUtrWrm0s2zxnbrgzkG5YAfF",
              "snippet": {
                "publishedAt": "2015-09-27T21:03:06Z",
                "channelId": "UCbQo30npLeVDoT9DRL1Tryw",
                "title": "Ruby on Rails Tutorials - Learn By Doing",
                "description": "A comprehensive series of videos that will bring you from being a beginner to a junior/intermediate developer of Ruby on Rails. All episodes are available at Udemy. Get 25% off with this coupon code https://www.udemy.com/learn-how-to-build-a-ruby-on-rails-marketplace-from-scratch/?couponCode=QUARTEROFF\n\nThis series will teach you to build a CMS for a hypothetical, dynamic marketplace for grocers and consumers.\n\nSome things covered:\n- MVC Architecture, ERD Diagrams, Elasticsearch, Devise, Gems, Invoicing, Stripe Integration, Invoicing. \n\nRequirements:\n- Basic understanding of HTML5, CSS, JQuery.\n- Basic understanding of programming concepts (for loops, if-else, etc.)\n\nRemember: If you manage to show me that you did follow these videos with a log of your github history and you want the rest of the videos, then email me and I'll give you 50% off on the rest of the videos at Udemy.",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/jG98Od819og/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/jG98Od819og/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/jG98Od819og/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  },
                  "standard": {
                    "url": "https://i.ytimg.com/vi/jG98Od819og/sddefault.jpg",
                    "width": 640,
                    "height": 480
                  },
                  "maxres": {
                    "url": "https://i.ytimg.com/vi/jG98Od819og/maxresdefault.jpg",
                    "width": 1280,
                    "height": 720
                  }
                },
                "channelTitle": "CourseHack",
                "localized": {
                  "title": "Ruby on Rails Tutorials - Learn By Doing",
                  "description": "A comprehensive series of videos that will bring you from being a beginner to a junior/intermediate developer of Ruby on Rails. All episodes are available at Udemy. Get 25% off with this coupon code https://www.udemy.com/learn-how-to-build-a-ruby-on-rails-marketplace-from-scratch/?couponCode=QUARTEROFF\n\nThis series will teach you to build a CMS for a hypothetical, dynamic marketplace for grocers and consumers.\n\nSome things covered:\n- MVC Architecture, ERD Diagrams, Elasticsearch, Devise, Gems, Invoicing, Stripe Integration, Invoicing. \n\nRequirements:\n- Basic understanding of HTML5, CSS, JQuery.\n- Basic understanding of programming concepts (for loops, if-else, etc.)\n\nRemember: If you manage to show me that you did follow these videos with a log of your github history and you want the rest of the videos, then email me and I'll give you 50% off on the rest of the videos at Udemy."
                }
              },
              "contentDetails": {
                "itemCount": 127
              }
            }
          ]
        }
  recorded_at: Tue, 07 Jul 2020 23:06:27 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=<YOUTUBE_API_KEY>&maxResults=50&part=snippet,contentDetails&playlistId=PLw3DVCAvDGUtrWrm0s2zxnbrgzkG5YAfF
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#playlistItemListResponse",
          "etag": "q5euvP2bssXsTmWQj8PEd9hiwgo",
          "nextPageToken": "CDIQAA",
          "items": [
            {
              "kind": "youtube#playlistItem",
              "etag": "dAlMKGaHiYBjstqN2dX8ntFjsk8",
              "id": "UEx3M0RWQ0F2REdVdHJXcm0wczJ6eG5icmd6a0c1WUFmRi41NkI0NEY2RDEwNTU3Q0M2",
              "snippet": {
                "publishedAt": "2015-09-27T21:28:55Z",
                "channelId": "UCbQo30npLeVDoT9DRL1Tryw",
                "title": "Ruby on Rails Tutorial 00   Introduction, Rails Project, Github",
                "description": "[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=<YOUTUBE_API_KEY>&maxResults=50&pageToken=CDIQAA&part=snippet,contentDetails&playlistId=PLw3DVCAvDGUtrWrm0s2zxnbrgzkG5YAfF
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#playlistItemListResponse",
          "etag": "cZAdKdc3tp0pOhnv4BTxb-B4hYI",
          "nextPageToken": "CGQQAA",
          "prevPageToken": "CDIQAQ",
          "items": [
            {
              "kind": "youtube#playlistItem",
              "etag": "xBo47opp1m1poP9z-akPVVMneYI",
              "id": "UEx3M0RWQ0F2REdVdHJXcm0wczJ6eG5icmd6a0c1WUFmRi40QzRDOEU0QUYwNUIxN0M1",
              "snippet": {
                "publishedAt": "2015-12-23T06:35:20Z",
                "channelId": "UCbQo30npLeVDoT9DRL1Tryw",
                "title": "Ruby on Rails Tutorial 50   Tax Details",
                "description": "Let's talk about taxes a[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=<YOUTUBE_API_KEY>&maxResults=50&pageToken=CGQQAA&part=snippet,contentDetails&playlistId=PLw3DVCAvDGUtrWrm0s2zxnbrgzkG5YAfF
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#playlistItemListResponse",
          "etag": "sjIUy8_QC0sc8rqi8VXJTAL0KUY",
          "prevPageToken": "CGQQAQ",
          "items": [
            {
              "kind": "youtube#playlistItem",
              "etag": "O5h2lH00hzl_sU7-leXuhW60KVg",
              "id": "UEx3M0RWQ0F2REdVdHJXcm0wczJ6eG5icmd6a0c1WUFmRi5GNzk2RTlDQTNCQzJCQzJG",
              "snippet": {
                "publishedAt": "2016-01-19T01:06:03Z",
                "channelId": "UCbQo30npLeVDoT9DRL1Tryw",
                "title": "Private video",
                "description": "This video is private.",
                "thumbnails": {},
                "channelTitle": "CourseHack",
                "playlistId": "PLw3DVCAvDGUtrWrm0s2zxnbrgzkG5YAfF",
                "position": 100,
                "resourceId": {
                  "kind": "youtube#video",
                  "videoId": "azisEvQRHIs"
                }
              },
              "contentDetails": {
                "videoId": "azisEvQRHIs"
              }
            },
            {
              "kind": "youtube#playlistItem",
              "etag": "7lNzJHD8GiOVsMszPFTFiQvWdVY",
              "id": "UEx3M0RWQ0F2REdVdHJXcm0wczJ6eG5icmd6a0c1WUFmRi5CQzUwREI3MzkxQjdBM0E0",
              "snippet": {
                "publishedAt": "2016-01-19T19:50:09Z",
                "channelId": "UCbQo30npLeVDoT9DRL1Tryw",
[...]
