---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=3b33f02abbfc93687668f038f9cbc658cd2a10e6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4937'
      X-Ratelimit-Reset:
      - '1594166122'
      Etag:
      - W/"75c267395e7176c4db05c7bc44de1cec"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 4503092dd0f1f6c04bc5
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"muydanny","id":57972448,"node_id":"MDQ6VXNlcjU3OTcyNDQ4","avatar_url":"https://avatars1.githubusercontent.com/u/57972448?v=4","gravatar_id":"","url":"https://api.github.com/users/muydanny","html_url":"https://github.com/muydanny","followers_url":"https://api.github.com/users/muydanny/followers","following_url":"https://api.github.com/users/muydanny/following{/other_user}","gists_url":"https://api.github.com/users/muydanny/gists{/gist_id}","starred_url":"https://api.github.com/users/muydanny/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/muydanny/subscriptions","organizations_url":"https://api.github.com/users/muydanny/orgs","repos_url":"https://api.github.com/users/muydanny/repos","events_url":"https://api.github.com/users/muydanny/events{/privacy}","received_events_url":"https://api.github.com/users/muydanny/received_events","type":"User","site_admin":false},{"login":"dborski","id":60106123,"node_id":"MDQ6VXNlcjYwMTA2MTIz","avatar_url":"https://avatars2.githubusercontent.com/u/60106123?v=4","gravatar_id":"","url":"https://api.github.com/users/dborski","html_url":"https://github.com/dborski","followers_url":"https://api.github.com/users/dborski/followers","following_url":"https://api.github.com/users/dborski/following{/other_user}","gists_url":"https://api.github.com/users/dborski/gists{/gist_id}","starred_url":"https://api.github.com/users/db[...]
