---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GITHUB_ROSS_AUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1594174574'
      Etag:
      - W/"585035410780ae0ec391e1b30d7e417c"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<GITHUB_ROSS_AUTH_TOKEN>&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=<GITHUB_ROSS_AUTH_TOKEN>&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":249561182,"node_id":"MDEwOlJlcG9zaXRvcnkyNDk1NjExODI=","name":"battleship","full_name":"EricLarson2020/battleship","private":false,"owner":{"login":"EricLarson2020","id":60331187,"node_id":"MDQ6VXNlcjYwMzMxMTg3","avatar_url":"https://avatars1.githubusercontent.com/u/60331187?v=4","gravatar_id":"","url":"https://api.github.com/users/EricLarson2020","html_url":"https://github.com/EricLarson2020","followers_url":"https://api.github.com/users/EricLarson2020/followers","following_url":"https://api.github.com/users/EricLarson2020/following{/other_user}","gists_url":"https://api.github.com/users/EricLarson2020/gists{/gist_id}","starred_url":"https://api.github.com/users/EricLarson2020/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/EricLarson2020/subscriptions","organizations_url":"https://api.github.com/users/EricLarson2020/orgs","repos_url":"https://api.github.com/users/EricLarson2020/repos","events_url":"https://api.github.com/users/EricLarson2020/events{/privacy}","received_events_url":"https://api.github.com/users/EricLarson2020/received_events","type":"User","site_admin":false},"html_url":"https://github.com/EricLarson2020/battleship","description":null,"fork":false,"url":"https://api.github.com/repos/EricLarson2020/battleship","forks_url":"https://api.github.com/repos/EricLarson2020/battleship/forks","keys_url":"https://api.github.com/repos/EricLarson2020/battleship/keys{/key_id}","collaborators_url":"https://api.github.com/repos/EricLarson2020/battleship/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/EricLarson2020/battleship/teams","hooks_url":"https://api.github.com/repos/EricLarson2020/battleship/hooks","issue_events_url":"https://api.github.com/repos/EricLarson2020/battleship/issues/events{/number}","events_url":"https://api.github.com/repos/EricLarson2020/battleship/events","assignees_url":"https://api.github.com/repos/EricLarson2020/battleship/assignees{/user}","branches_url":"https://api.github.com/repos/EricLarson2020/battleship/branches{/branch}","tags_url":"https://api.github.com/repos/EricLarson2020/battleship/tags","blobs_url":"https://api.github.com/repos/EricLarson2020/battleship/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/EricLarson2020/battleship/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/EricLarson2020/battleship/git/refs{/sha}","trees_url":"https://api.github.com/repos/EricLarson2020/battleship/git/trees{/sha}","statuses_url":"https://api.github.com/repos/EricLarson2020/battleship/statuses/{sha}","languages_url":"https://api.github.com/repos/EricLarson2020/battleship/languages","stargazers_url":"https://api.github.com/repos/EricLarson2020/battleship/stargazers","contributors_url":"https://api.github.com/repos/EricLarson2020/battleship/contributors","subscribers_url":"https://api.github.com/repos/EricLarson2020/battleship/subscribers","subscription_url":"https://api.github.com/repos/EricLarson2020/battleship/subscription","commits_url":"https://api.github.com/repos/EricLarson2020/battleship/commits{/sha}","git_commits_url":"https://api.github.com/repos/EricLarson2020/battleship/git/commits{/sha}","comments_url":"https://api.github.com/repos/EricLarson2020/battleship/comments{/number}","issue_comment_url":"https://api.github.com/repos/EricLarson2020/battleship/issues/comments{/number}","contents_url":"https://api.github.com/repos/EricLarson2020/battleship/contents/{+path}","compare_url":"https://api.github.com/repos/EricLarson2020/battleship/compare/{base}...{head}","merges_url":"https://api.github.com/repos/EricLarson2020/battleship/merges","archive_url":"https://api.github.com/repos/EricLarson2020/battleship/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/EricLarson2020/battleship/downloads","issues_url":"https://api.github.com/repos/EricLarson2020/battleship/issues{/number}","pulls_url":"https://api.github.com/repos/EricLarson2020/battleship/pulls{/number}","milestones_url":"https://api.github.com/repos/EricLarson2020/battleship/milestones{/number}","notifications_url":"https://api.github.com/repos/EricLarson2020/battleship/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/EricLarson2020/battleship/labels{/name}","releases_url":"https://api.github.com/repos/EricLarson2020/battleship/releases{/id}","deployments_url":"https://api.github.com/repos/EricLarson2020/battleship/deployments","created_at":"2020-03-23T22:48:13Z","updated_at":"2020-04-01T23:32:41Z","pushed_at":"2020-04-01T23:32:39Z","git_url":"git://github.com/EricLarson2020/battleship.git","ssh_url":"git@github.com:EricLarson2020/battleship.git","clone_url":"https://github.com/EricLarson2020/battleship.git","svn_url":"https://github.com/EricLarson2020/battleship","homepage":null,"size":89,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":267165200,"node_id":"MDEwOlJlcG9zaXRvcnkyNjcxNjUyMDA=","name":"monster_shop_2003","full_name":"Mariana-21/monster_shop_2003","private":false,"owner":{"login":"Mariana-21","id":53917266,"node_id":"MDQ6VXNlcjUzOTE3MjY2","avatar_url":"https://avatars1.githubusercontent.com/u/53917266?v=4","gravatar_id":"","url":"https://api.github.com/users/Mariana-21","html_url":"https://github.com/Mariana-21","followers_url":"https://api.github.com/users/Mariana-21/followers","following_url":"https:/[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GITHUB_ROSS_AUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1594174574'
      Etag:
      - W/"75c267395e[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GITHUB_ROSS_AUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1594174575'
      Etag:
      - W/"7744230371[...]
[...]
